.output
.data
.nuxt
.nitro
.cache
dist

node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.fleet
.idea
.vscode
*.swp
*.swo
*~

data/boards/*
!data/boards/.gitkeep
data/icons/*
!data/icons/.gitkeep

.env
.env.*
!.env.example
